#genres

:javascript
  $(function() {
    // Blog is the app name
    window.router = new Merriweather.Routers.GenresRouter({genres:#{@genres.to_json.html_safe}});
    Backbone.history.start();
  });
