<h1>Edit song</h1>

<form id="edit-song" name="song">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="mp3"> mp3:</label>
    <input type="text" name="mp3" id="mp3" value="<%= mp3 %>" >
  </div>

  <div class="field">
    <label for="ogg"> ogg:</label>
    <input type="text" name="ogg" id="ogg" value="<%= ogg %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Song" />
  </div>

</form>

<a href="#/index">Back</a>