<h1>Edit genre</h1>

<form id="edit-genre" name="genre">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="abbr"> abbr:</label>
    <input type="text" name="abbr" id="abbr" value="<%= abbr %>" >
  </div>

  <div class="field">
    <label for="albums"> albums:</label>
    <input type="text" name="albums" id="albums" value="<%= albums %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Genre" />
  </div>

</form>

<a href="#/index">Back</a>