<h1>Listing genres</h1>

<table id="genres-table" class="genres">
  <tr>
    <th>Name</th>
    <th>Abbr</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Genre</a>