<h1>New genre</h1>

<form id="new-genre" name="genre">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="abbr"> abbr:</label>
    <input type="text" name="abbr" id="abbr" value="<%= abbr %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Genre" />
  </div>

</form>

<a href="#/index">Back</a>