<h1>Catalogue</h1>
<div class="lead">
    All of these wonderful recordings have been produced by Canada's best producer of children's music&nbsp; Ken Whiteley. The musical arrangements are delightful, the vocals are clear and beautiful. Each CD includes a booklet with the lyrics, some include pdf files.
</div>

<table id="albums-table" class="albums table-striped">
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Gemm</th>
    <th>Content</th>
    <th>Release date</th>
    <th>Band</th>
    <th>Genre</th>
    <th>Heading</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Album</a>